<a href="https://colab.research.google.com/github/CarlosCordova2023/Clase03_PythonIntermedio/blob/main/Clase03PythonIntermedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
print(mi_lista[0])  # Accede al primer elemento
mi_lista.append(6)  # Agrega un elemento al final
mi_lista[2] = 10    # Modifica el tercer elemento

1

In [ ]:
lista = [1, 2, 3]
lista.append(4)
print(lista)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
lista = [1, 2, 3]
lista.extend([4, 5])
print(lista)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
lista = [1, 2, 3]
lista.insert(1, 'a')
print(lista)  # Output: [1, 'a', 2, 3]

[1, 'a', 2, 3]

In [ ]:
lista = [1, 2, 3, 2]
lista.remove(2)
print(lista)  # Output: [1, 3, 2]

[1, 3, 2]

In [ ]:
lista = [1, 2, 3]
lista.pop()
print(lista)  # Output: [1, 2]
lista.pop(0)
print(lista)  # Output: [2]

[1, 2]
[2]

In [ ]:
lista = [3, 1, 2]
lista.sort()
print(lista)  # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:
mi_tupla = (1, 2, 3, 4)
print(mi_tupla[1])  # Accede al segundo elemento

2

In [ ]:
mi_diccionario = {"nombre": "Carlos", "edad": 30, "ciudad": "Quito"}
print(mi_diccionario["nombre"])  # Accede al valor de la clave "nombre"
mi_diccionario["edad"] = 31      # Modifica el valor de la clave "edad"

Carlos

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
claves = mi_diccionario.keys()
print(claves)  # Output: dict_keys(['a', 'b', 'c'])

dict_keys(['a', 'b', 'c'])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
valores = mi_diccionario.values()
print(valores)  # Output: dict_values([1, 2, 3])

dict_values([1, 2, 3])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
pares = mi_diccionario.items()
print(pares)  # Output: dict_items([('a', 1), ('b', 2), ('c', 3)])

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
valor = mi_diccionario.get('b')
print(valor)  # Output: 2

2

In [ ]:
mi_diccionario = {'a': 1, 'b': 2}
otro_diccionario = {'c': 3, 'd': 4}
mi_diccionario.update(otro_diccionario)
print(mi_diccionario)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
mi_conjunto = {1, 2, 3, 4, 5}
mi_conjunto.add(6)      # AÃ±ade un elemento
mi_conjunto.remove(3)   # Elimina un elemento
print(mi_conjunto)

{1, 2, 4, 5, 6}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
union = conjunto1.union(conjunto2)
print(union)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
interseccion = conjunto1.intersection(conjunto2)
print(interseccion)  # Output: {3}

{3}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
diferencia = conjunto1.difference(conjunto2)
print(diferencia)  # Output: {1, 2}

{1, 2}

In [ ]:
# Precios de energÃ­a por regiÃ³n en CLP/kWh
precios_energia = [95, 120, 85, 110]  # RegiÃ³n Metropolitana, ValparaÃ­so, BiobÃ­o, AraucanÃ­a

# ActualizaciÃ³n mensual de precios
precios_energia[0] = 98  # RegiÃ³n Metropolitana ajusta el precio
precios_energia.append(102)  # Se aÃ±ade una nueva regiÃ³n

# Mostrar los precios actualizados
print(precios_energia)

[98, 120, 85, 110, 102]

In [ ]:
# Tarifas fijas por tipo de energÃ­a en CLP/kWh
tarifas_energia = ("solar", 150, "eÃ³lica", 130, "hidrÃ¡ulica", 100)

# Acceder a las tarifas
print(f"Tarifa solar: {tarifas_energia[1]} CLP/kWh")
print(f"Tarifa eÃ³lica: {tarifas_energia[3]} CLP/kWh")

Tarifa solar: 150 CLP/kWh
Tarifa eÃ³lica: 130 CLP/kWh

In [ ]:
# InformaciÃ³n de plantas generadoras de energÃ­a
plantas_energia = {
    "Planta Solar Norte": {"capacidad_mw": 150, "tipo": "solar"},
    "Planta EÃ³lica Sur": {"capacidad_mw": 200, "tipo": "eÃ³lica"},
    "Central HidrÃ¡ulica Andes": {"capacidad_mw": 300, "tipo": "hidrÃ¡ulica"}
}

# Acceder a la informaciÃ³n de una planta
print(f"Planta Solar Norte: {plantas_energia['Planta Solar Norte']}")

Planta Solar Norte: {'capacidad_mw': 150, 'tipo': 'solar'}

In [30]:
# Regiones en las que operan diferentes empresas de energÃ­a
empresas_energia = {
    "Empresa Solar Chile": {"RegiÃ³n Metropolitana", "ValparaÃ­so", "BiobÃ­o"},
    "Empresa EÃ³lica Andes": {"ValparaÃ­so", "Atacama", "Coquimbo"},
    "Empresa HidrÃ¡ulica Sur": {"AraucanÃ­a", "Los Lagos", "AysÃ©n"}
}

# Mostrar las regiones de operaciÃ³n de una empresa
print(f"Regiones operadas por Empresa Solar Chile: {empresas_energia['Empresa Solar Chile']}")

Regiones operadas por Empresa Solar Chile: {'RegiÃ³n Metropolitana', 'BiobÃ­o', 'ValparaÃ­so'}

In [31]:
regiones_solar = empresas_energia["Empresa Solar Chile"]
regiones_eolica = empresas_energia["Empresa EÃ³lica Andes"]

interseccion = regiones_solar.intersection(regiones_eolica)
print(f"Regiones comunes entre Empresa Solar Chile y Empresa EÃ³lica Andes: {interseccion}")

Regiones comunes entre Empresa Solar Chile y Empresa EÃ³lica Andes: {'ValparaÃ­so'}

In [32]:
# GeneraciÃ³n de energÃ­a por mes en MW/h para diferentes plantas
generacion_energia = {
    "Planta Solar Norte": [1500, 1600, 1550, 1620, 1500, 1580, 1600, 1620, 1550, 1600, 1580, 1620],  # 12 meses
    "Planta EÃ³lica Sur": [1300, 1350, 1320, 1400, 1380, 1350, 1400, 1420, 1360, 1400, 1380, 1420],
    "Central HidrÃ¡ulica Andes": [2000, 2050, 2100, 2120, 2050, 2080, 2100, 2120, 2080, 2100, 2080, 2120]
}

# Calcular la generaciÃ³n total anual por planta
for planta, datos in generacion_energia.items():
    total_anual = sum(datos)
    print(f"GeneraciÃ³n anual de {planta}: {total_anual} MW/h")

GeneraciÃ³n anual de Planta Solar Norte: 18920 MW/h
GeneraciÃ³n anual de Planta EÃ³lica Sur: 16480 MW/h
GeneraciÃ³n anual de Central HidrÃ¡ulica Andes: 25000 MW/h

In [33]:
# Crear un diccionario para almacenar informaciÃ³n de estudiantes
estudiantes = {}

# FunciÃ³n para agregar un estudiante
def agregar_estudiante(nombre, edad, calificacion):
    estudiantes[nombre] = {'edad': edad, 'calificacion': calificacion}

# FunciÃ³n para eliminar un estudiante
def eliminar_estudiante(nombre):
    if nombre in estudiantes:
        del estudiantes[nombre]
    else:
        print(f"El estudiante {nombre} no existe.")

# FunciÃ³n para consultar un estudiante
def consultar_estudiante(nombre):
    if nombre in estudiantes:
        print(f"Nombre: {nombre}, Edad: {estudiantes[nombre]['edad']}, CalificaciÃ³n: {estudiantes[nombre]['calificacion']}")
    else:
        print(f"El estudiante {nombre} no existe.")

# Ejemplos de uso
agregar_estudiante("Juan", 20, 85)
agregar_estudiante("Ana", 22, 90)
consultar_estudiante("Juan")
#eliminar_estudiante("Ana")
consultar_estudiante("Ana")

Nombre: Juan, Edad: 20, CalificaciÃ³n: 85
Nombre: Ana, Edad: 22, CalificaciÃ³n: 90

In [34]:
# Crear una lista de nÃºmeros
numeros = [5, 3, 8, 1, 9, 2]

# Ordenar la lista de forma ascendente
numeros_ascendente = sorted(numeros)
print(f"Lista ordenada de forma ascendente: {numeros_ascendente}")

# Ordenar la lista de forma descendente
numeros_descendente = sorted(numeros, reverse=True)
print(f"Lista ordenada de forma descendente: {numeros_descendente}")

Lista ordenada de forma ascendente: [1, 2, 3, 5, 8, 9]
Lista ordenada de forma descendente: [9, 8, 5, 3, 2, 1]

In [35]:
# Crear dos conjuntos de nÃºmeros
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}

# UniÃ³n de los conjuntos
union = conjunto1 | conjunto2
print(f"UniÃ³n de los conjuntos: {union}")

# IntersecciÃ³n de los conjuntos
interseccion = conjunto1 & conjunto2
print(f"IntersecciÃ³n de los conjuntos: {interseccion}")

# Diferencia de los conjuntos
diferencia = conjunto1 - conjunto2
print(f"Diferencia de los conjuntos: {diferencia}")

UniÃ³n de los conjuntos: {1, 2, 3, 4, 5, 6, 7, 8}
IntersecciÃ³n de los conjuntos: {4, 5}
Diferencia de los conjuntos: {1, 2, 3}