<a href="https://colab.research.google.com/github/CarlosCordova2023/Clase03_PythonIntermedio/blob/main/Clase03PythonIntermedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
print(mi_lista[0])  # Accede al primer elemento
mi_lista.append(6)  # Agrega un elemento al final
mi_lista[2] = 10    # Modifica el tercer elemento

1

In [ ]:
lista = [1, 2, 3]
lista.append(4)
print(lista)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
lista = [1, 2, 3]
lista.extend([4, 5])
print(lista)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
lista = [1, 2, 3]
lista.insert(1, 'a')
print(lista)  # Output: [1, 'a', 2, 3]

[1, 'a', 2, 3]

In [ ]:
lista = [1, 2, 3, 2]
lista.remove(2)
print(lista)  # Output: [1, 3, 2]

[1, 3, 2]

In [ ]:
lista = [1, 2, 3]
lista.pop()
print(lista)  # Output: [1, 2]
lista.pop(0)
print(lista)  # Output: [2]

[1, 2]
[2]

In [ ]:
lista = [3, 1, 2]
lista.sort()
print(lista)  # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:
mi_tupla = (1, 2, 3, 4)
print(mi_tupla[1])  # Accede al segundo elemento

2

In [ ]:
mi_diccionario = {"nombre": "Carlos", "edad": 30, "ciudad": "Quito"}
print(mi_diccionario["nombre"])  # Accede al valor de la clave "nombre"
mi_diccionario["edad"] = 31      # Modifica el valor de la clave "edad"

Carlos

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
claves = mi_diccionario.keys()
print(claves)  # Output: dict_keys(['a', 'b', 'c'])

dict_keys(['a', 'b', 'c'])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
valores = mi_diccionario.values()
print(valores)  # Output: dict_values([1, 2, 3])

dict_values([1, 2, 3])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
pares = mi_diccionario.items()
print(pares)  # Output: dict_items([('a', 1), ('b', 2), ('c', 3)])

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
mi_diccionario = {'a': 1, 'b': 2, 'c': 3}
valor = mi_diccionario.get('b')
print(valor)  # Output: 2

2

In [ ]:
mi_diccionario = {'a': 1, 'b': 2}
otro_diccionario = {'c': 3, 'd': 4}
mi_diccionario.update(otro_diccionario)
print(mi_diccionario)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
mi_conjunto = {1, 2, 3, 4, 5}
mi_conjunto.add(6)      # Añade un elemento
mi_conjunto.remove(3)   # Elimina un elemento
print(mi_conjunto)

{1, 2, 4, 5, 6}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
union = conjunto1.union(conjunto2)
print(union)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
interseccion = conjunto1.intersection(conjunto2)
print(interseccion)  # Output: {3}

{3}

In [ ]:
conjunto1 = {1, 2, 3}
conjunto2 = {3, 4, 5}
diferencia = conjunto1.difference(conjunto2)
print(diferencia)  # Output: {1, 2}

{1, 2}

In [ ]:
# Precios de energía por región en CLP/kWh
precios_energia = [95, 120, 85, 110]  # Región Metropolitana, Valparaíso, Biobío, Araucanía

# Actualización mensual de precios
precios_energia[0] = 98  # Región Metropolitana ajusta el precio
precios_energia.append(102)  # Se añade una nueva región

# Mostrar los precios actualizados
print(precios_energia)

[98, 120, 85, 110, 102]

In [ ]:
# Tarifas fijas por tipo de energía en CLP/kWh
tarifas_energia = ("solar", 150, "eólica", 130, "hidráulica", 100)

# Acceder a las tarifas
print(f"Tarifa solar: {tarifas_energia[1]} CLP/kWh")
print(f"Tarifa eólica: {tarifas_energia[3]} CLP/kWh")

Tarifa solar: 150 CLP/kWh
Tarifa eólica: 130 CLP/kWh

In [ ]:
# Información de plantas generadoras de energía
plantas_energia = {
    "Planta Solar Norte": {"capacidad_mw": 150, "tipo": "solar"},
    "Planta Eólica Sur": {"capacidad_mw": 200, "tipo": "eólica"},
    "Central Hidráulica Andes": {"capacidad_mw": 300, "tipo": "hidráulica"}
}

# Acceder a la información de una planta
print(f"Planta Solar Norte: {plantas_energia['Planta Solar Norte']}")

Planta Solar Norte: {'capacidad_mw': 150, 'tipo': 'solar'}

In [30]:
# Regiones en las que operan diferentes empresas de energía
empresas_energia = {
    "Empresa Solar Chile": {"Región Metropolitana", "Valparaíso", "Biobío"},
    "Empresa Eólica Andes": {"Valparaíso", "Atacama", "Coquimbo"},
    "Empresa Hidráulica Sur": {"Araucanía", "Los Lagos", "Aysén"}
}

# Mostrar las regiones de operación de una empresa
print(f"Regiones operadas por Empresa Solar Chile: {empresas_energia['Empresa Solar Chile']}")

Regiones operadas por Empresa Solar Chile: {'Región Metropolitana', 'Biobío', 'Valparaíso'}

In [31]:
regiones_solar = empresas_energia["Empresa Solar Chile"]
regiones_eolica = empresas_energia["Empresa Eólica Andes"]

interseccion = regiones_solar.intersection(regiones_eolica)
print(f"Regiones comunes entre Empresa Solar Chile y Empresa Eólica Andes: {interseccion}")

Regiones comunes entre Empresa Solar Chile y Empresa Eólica Andes: {'Valparaíso'}

In [32]:
# Generación de energía por mes en MW/h para diferentes plantas
generacion_energia = {
    "Planta Solar Norte": [1500, 1600, 1550, 1620, 1500, 1580, 1600, 1620, 1550, 1600, 1580, 1620],  # 12 meses
    "Planta Eólica Sur": [1300, 1350, 1320, 1400, 1380, 1350, 1400, 1420, 1360, 1400, 1380, 1420],
    "Central Hidráulica Andes": [2000, 2050, 2100, 2120, 2050, 2080, 2100, 2120, 2080, 2100, 2080, 2120]
}

# Calcular la generación total anual por planta
for planta, datos in generacion_energia.items():
    total_anual = sum(datos)
    print(f"Generación anual de {planta}: {total_anual} MW/h")

Generación anual de Planta Solar Norte: 18920 MW/h
Generación anual de Planta Eólica Sur: 16480 MW/h
Generación anual de Central Hidráulica Andes: 25000 MW/h

In [33]:
# Crear un diccionario para almacenar información de estudiantes
estudiantes = {}

# Función para agregar un estudiante
def agregar_estudiante(nombre, edad, calificacion):
    estudiantes[nombre] = {'edad': edad, 'calificacion': calificacion}

# Función para eliminar un estudiante
def eliminar_estudiante(nombre):
    if nombre in estudiantes:
        del estudiantes[nombre]
    else:
        print(f"El estudiante {nombre} no existe.")

# Función para consultar un estudiante
def consultar_estudiante(nombre):
    if nombre in estudiantes:
        print(f"Nombre: {nombre}, Edad: {estudiantes[nombre]['edad']}, Calificación: {estudiantes[nombre]['calificacion']}")
    else:
        print(f"El estudiante {nombre} no existe.")

# Ejemplos de uso
agregar_estudiante("Juan", 20, 85)
agregar_estudiante("Ana", 22, 90)
consultar_estudiante("Juan")
#eliminar_estudiante("Ana")
consultar_estudiante("Ana")

Nombre: Juan, Edad: 20, Calificación: 85
Nombre: Ana, Edad: 22, Calificación: 90

In [34]:
# Crear una lista de números
numeros = [5, 3, 8, 1, 9, 2]

# Ordenar la lista de forma ascendente
numeros_ascendente = sorted(numeros)
print(f"Lista ordenada de forma ascendente: {numeros_ascendente}")

# Ordenar la lista de forma descendente
numeros_descendente = sorted(numeros, reverse=True)
print(f"Lista ordenada de forma descendente: {numeros_descendente}")

Lista ordenada de forma ascendente: [1, 2, 3, 5, 8, 9]
Lista ordenada de forma descendente: [9, 8, 5, 3, 2, 1]

In [35]:
# Crear dos conjuntos de números
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}

# Unión de los conjuntos
union = conjunto1 | conjunto2
print(f"Unión de los conjuntos: {union}")

# Intersección de los conjuntos
interseccion = conjunto1 & conjunto2
print(f"Intersección de los conjuntos: {interseccion}")

# Diferencia de los conjuntos
diferencia = conjunto1 - conjunto2
print(f"Diferencia de los conjuntos: {diferencia}")

Unión de los conjuntos: {1, 2, 3, 4, 5, 6, 7, 8}
Intersección de los conjuntos: {4, 5}
Diferencia de los conjuntos: {1, 2, 3}